/*** HTML 5 CSS RESET ***/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:none;
    font-family: arial;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*** END HTML CSS RESET ***/

body {
    background-color: #eee;
    outline: none;
}

.pagewrapper {
    background: #fff;
    width: 90%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    float: left;
}

.logreg {
    float: right;
}

.main {
    margin: 5px 0 5px 0;
}

.admintopmenu {
    border: 1px solid #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    width: 90%;
    padding: 3px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.adminmainbody {
    margin-top: 15px;
}

/*** CONFIG STYLES ***/
.admin_config {
    margin-top: 15px;
}

.admin_config_verify {
    border-bottom: 1px solid #eee;
    padding: 5px;
}

.admin_config_verify_label {
    float: left;
}

#admin_config_verify_button {
    float: right;
    cursor: pointer;
    border: 1px solid #686868;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 3px;
}

#admin_config_verify_email {
    margin-top: 5px;
}

#admin_config_verify_email_submit {
    float: right;
    border: 1px solid #000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
    width: 75px;
    cursor: pointer;
    padding: 3px;
    margin-top: 5px;
}

.admin_config_verify_email_note {
    float: left;
    margin-top: 5px;
}

/*** UPDATE SITE INFO STYLES ***/
/* SITE LOGO */
#update_logo_wrapper {
    position: relative;
}

.update_logo {
    width: 250px;
    box-shadow: rgba(170, 170, 170, 0.5) 3px 3px 10px;
    -webkit-box-shadow: rgba(170, 170, 170, 0.5) 3px 3px 10px;
    -moz-box-shadow: rgba(170, 170, 170, 0.5) 3px 3px 10px;
}

#update_logo_upload_area {
    position: absolute;
    margin: -20px 0px 0px 150px;
    color: #fff;
    text-shadow: -1px 0 #6c6c6c, 0 1px #6c6c6c, 1px 0 #6c6c6c, 0 -1px #6c6c6c;
    cursor: pointer;
}

.update_logo_upload_buttons {
    background: url('/js/image_upload/images/imguploadbk.png') repeat-x;
    position: absolute;
    margin-top: -35px;
    margin-left: 17px;
    width: 200px;
    padding: 3px;
}

#update_logo_upload_submit {
    float: left;
    color: #fff;
    text-shadow: -1px 0 #6c6c6c, 0 1px #6c6c6c, 1px 0 #6c6c6c, 0 -1px #6c6c6c;
    cursor: pointer;
}

.updatelogoinput {
    display: none;
}

#update_logo_upload_cancel {
    float: right;
    cursor: pointer;
}

/*** MANAGE USERS STYLES ***/
.admin_manage_user {
    border-bottom: 1px solid #eee;
    padding: 5px;
}

.amu_promote_select_wrapper {
    display: none;
}

.amu_actions {
    float: right;
}

.amu_promote_select_close {
    cursor: pointer;
}

.amu_changepass_wrapper {
    display: none;
}

.footer {
    text-align: center;
    margin-top: 15px;
}

/*** MODAL WINDOWS ***/
/* DO NOT ALTER */
#colorbox, #cboxOverlay, #cboxWrapper {
    position:absolute;
    top:0;
    left:0;
    z-index:9999;
    overflow:hidden;
    font-family:'action_man_extendedregular';
    font-size:12px;
    color:#fff;
}
#cboxOverlay {
    position:fixed;
    width:100%;
    height:100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
    clear:left;
}
#cboxContent {
    position:relative;
}
#cboxLoadedContent {
    overflow:auto;
}
#cboxTitle {
    margin:0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor:pointer;
    display:none !important;
}
.cboxPhoto {
    float:left;
    margin:auto;
    border:0;
    display:block;
}
.cboxIframe {
    width:100%;
    height:100%;
    display:block;
    border:0;
}

/* STANDARD COLORBOX WINDOW CSS */
.colorboxtitle {
    color:#fff;
    font-weight:bold;
    background:#6b83b6;
    padding:5px;
}
.cbtitle {
    float:left;
}
.cbclose {
    float:right;
    cursor:pointer;
}
.colorboxbody {
    background:#fff;
    color:#000;
    padding:10px;
}

.standardlbcontent {
    padding-bottom: 5px;
    margin: 40px;
    background-color: rgb(255, 255, 255); /* Needed for IEs */
    border: #6b83b6 solid 2px;
    -mox-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.standardlbtop {
    padding: 2px 5px;
    background: #6b83b6;
    color: #fff;
    font-size: 19px;
    font-weight: normal;
}

.colorboxtitle {
    float: left;
}

.colorboxclose {
    float: right;
    background: url('/images/close.png') no-repeat;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.standardlbbottom {
    color: #000;
    padding: 5px;
}

.submit_button {
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #6b83b6;
    width: 50px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}